body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-color: #333;
  color: #f5f5f5;
}

#app {
  max-width: 800px;
  margin: 20px auto;
}

.task-form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lists-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
}

.task-list {
  background: #444;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.task-list h2 {
  margin-top: 0;
}

input,
textarea,
button {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #555;
  background-color: #555;
  color: #f5f5f5;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 20px;
}

button:hover {
  background-color: #0056b3;
}

.task-item {
  background-color: #555;
  border: 1px solid #666;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
  overflow: hidden;
  min-height: 35px;
}

.task-description {
  display: none;
  margin-top: 10px;
  color: #ddd;
}

.task-item.expanded .task-description {
  display: block; 
}

.task-content {
  flex-grow: 1;
  overflow: hidden;
}

.task-actions {
  position: absolute;
  bottom: 5px;
  right: 10px;
  display: flex;
  gap: 5px;
}

.mark-complete-btn,
.remove-task-btn,
.mark-pending-btn {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
}

.mark-complete-btn:hover,
.remove-task-btn:hover,
.mark-pending-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.task-actions button {
  width: 25px;
  height: 25px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: none;
  cursor: pointer;
  padding: 0;
  border-radius: 4px;
}

.task-actions button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.expand-desc-btn {
  font-size: 16px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.expand-desc-btn:hover {
  color: #007bff;
}
